body {
 background-color: rgb(21, 128, 0);
 color: white;
 font-family: "Edu AU VIC WA NT Guides", cursive;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 700px;
 margin: 0;

}

button { background-color: aqua;
    font-family: "Edu AU VIC WA NT Dots", cursive;

}

.passo{ 
    display: none;

}

.passo.ativo{ 
display: block;

}

main{
    max-width: 90%;
    text-align: center;
}

img {
    max-width: 80%;
}